<a href="/">
    Hem
</a>
<!-- Visa logga-ut-knappen om man är inloggad, annars logga-in-knappen -->
{% if request.user.is_authenticated%}

<a href="{% url 'logout' %}">Logga ut</a>
<!-- <span>{{request.user}}</span> -->
<a href="{% url 'user-profile' request.user.id%}">{{request.user}}</a>

<a href=""></a>
{% else%}
<a href="{% url 'login' %}">Logga in</a> {% endif%}

<!-- skapa sökbar -->
<form action="{% url 'home' %}" method="GET">
    <input type="text" name="q" placeholder="Sök Efter Diskutioner">
</form>