{% extends 'main.html' %}
{% block content%}
{% load static %}

<div class="mainContainer">
    <form method="GET" action="{% url 'home'%}" class="searchbar one">
        <input type="text" name="q" placeholder="Sök Efter Diskutioner">
    </form>

    <div class="topicContainer two">
        <a class="topic" href="{% url 'home' %}">Alla Ämnen</a>
        {% include 'base/topics_component.html'%}
        <a href="{% url 'alltopics' %}">Fler Ämnen</a>

    </div>

    <div class="threadsContainer three">
        <div>
            <div class="head">
                <h2>6 Diskutioner</h2>
                <a class="plusContainer" href="{% url 'create-room' %}">
                    <div class="plus"><span class="strokes"></span></div>
                </a>
            </div>
            {% include 'base/room_component.html'%}
        </div>
    </div>
    <div class="latestContainer fore">
        <h2>Senaste Nytt</h2>
        {% include 'base/activity_component.html'%}
    </div>
</div>

{% endblock content%}