{% extends 'main.html'%}
{% block content %}

<div class="profile">
    <h1>{{user.username}}s sida</h1>
    <div class="profileContainer">
        <div class="profielThreads">
            <div>
                <h2>{{user.username}}s Trådar</h2>
                {% include 'base/room_component.html'%}
            </div>
        </div>

        <div class="profileRecentActivity">
            <div>
                <h2>Senaste nytt från {{user.username}}</h2>
                {% include 'base/activity_component.html'%}
            </div>
        </div>
    </div>
</div>

{% endblock content %}