{% extends 'main.html' %}
{% block content%}

<div class="discussionContainer">

    <div class="discussion">
        <div class="head">
            <h2 class="title">{{room.name}}</h2>
            <p>{{room.description}}</p>

            <div class="info">
                <span class="date">Posten 31 March - 19 Days ago</span>
            </div>
            {% if request.user.is_authenticated%}
            <div class="addMesage">
                <form method="POST" action="">
                    {% csrf_token%}
                    <textarea name="body" id="" cols="30" rows="10" placeholder="Vad tycker du?"></textarea>
                    <input type="submit" value="Skicka">
                </form>
            </div>
            {% endif %}

        </div>

        {% for message in roomMessages%}

        <div class="message">
            <div class="top">

                <p>{{message.body}}</p>
            </div>
            <div class="bottom">
                <div class="info">
                    <span class="date">{{message.created|timesince}} sedan</span>
                </div>
                {% if request.user == message.user%}

                <a href="{% url 'delete-message' message.id %}">Delete</a>
                {% endif%}
            </div>



        </div>

        {% endfor %}


    </div>


</div>

{% endblock content%}